/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  height: 600px;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  object-fit: cover;
  height: 600px;
  }

  .slider-section .rslides_tabs {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    z-index: 9;
  }

  .slider-section .rslides_tabs li {
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin: 0 15px 0 0;
    position: relative;
    font-size: 0;
    text-decoration: none;

    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .slider-section .rslides_tabs li:after {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
    left: -3px;
    top: -4px;
}

.slider-section .rslides_tabs li.rslides_here {
  width: 20px;
  height: 20px;
  background-color: #012646;
  margin: 0 15px 0 0;
  border: 1px solid #012646;
  position: relative;
}

.slider-section .rslides_tabs li a {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 10;
}